/* @import url(../css/style.css); */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 0 20px;
  border-radius: 20px;
  height: 80px;
}

.h2 {
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container img {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .content h2 {
    margin-top: 80px;
  }
  .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .container img {
    height: auto;
  }
  .column1 {
    flex: 1;
  }
  .column2 {
    flex: 1;
  }
}

@media (min-width: 1536px) {
  .container {
    margin-top: 90px;
  }
}
