/* @import url(../css/style.css); */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 0 20px;
  border-radius: 20px;
  height: 80px;
}

.h2 {
  margin-top: 60px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* gap: 30px; */
}

.container img {
  width: 100%;
  transform: translateX(-6vw);
}

.column2{
  background-image: url(../img/papel-cinta-vertical.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 106% 100%;
  position: absolute;
  bottom: 0px;
  height: 500px;
  display: flex;
  /* transform: translateY(-160px); */
  align-items: center;
}

.column2 p{
  padding: 0px 30px;
  padding-top: 50px;
}

/* RESPONSIVE */
@media (min-width: 1024px) {
  .content h2 {
    margin-top: 80px;
  }
  .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .container img {
    height: auto;
  }
  .column1 {
    flex: 1;
  }
  .column2 {
    flex: 1;
  }
}

@media (min-width: 1536px) {
  .container {
    margin-top: 90px;
  }
}
