/* @import url(../css/style.css); */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 0 20px;
  border-radius: 20px;
  height: 80px;
}

.h2 {
  margin-top: 40px;
}
.mi-gif {
  position: absolute;
  width: 70px;
  z-index: 2;
  left: 50%;
  top: 19%;
  transform: translate(-50%, 0%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  /* gap: 30px; */
}

.container img {
  width: 100%;
  transform: translateX(-6vw);
}

.column2{
  background-image: url(../img/papel-cinta-vertical.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  height: 550px;
  display: flex;
  /* transform: translateY(-160px); */
  justify-content: center;
  align-items: end;
}

.column2 p{
  position: relative;
  width: 80%;
  bottom: 50px;
  /* padding-top: 40px; */
}

footer{
  margin-top: 50px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .mi-gif {
    width: 6rem;
    top: 22%;
  }
  .container img {
    width: auto;
    height: 100vh;
  }
  .column2{
    background-image: url(../img/papel-cinta-horizontal-t.png);
    background-size: 90% 90%;
    bottom: 50px;
    /* align-items: end; */
  }
  .column2 p {
    width: 75%;
    bottom: 120px;
  }
  footer{
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    height: auto;
    /* align-items: center; */
    /* gap: 50px; */
  }
  .container img {
    width: 100%;
    height: 100%;
  }
  .column1 {
    flex: 1;
  }
   .column2{
    position: relative;
    background-size: contain;
    /* background-size: 100% 90%; */
    height: auto;
    flex: 2;
    bottom: 0px;
  }
  .column2 p {
    width: 84%;
  }
}

@media (min-width: 1280px) {
  .column2{
    align-items: center;
    background-size: 90% 70%;
  }
  .column2 p {
    top: 60px;
    bottom: 0px;
    width: 76%;
  }
}

@media (min-width: 1536px) {
  .container {
    margin-top: 90px;
  }
}
