/* @import url(../css/style.css); */

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 0 20px;
  border-radius: 20px;
  height: 80px;
  /* position: relative; */
}

.logo, .container__icons{
  z-index: 10;
}

.icons{
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.close__icon{
  display: none;
}

.icon--hide{
  display: none;
}

.icon--show{
  display: block;
}

.nav__list{
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  display: none;
}

.nav__list--show{
  display: flex;
  z-index: 5;
}

.nav__link{
  color: #000;
  font-family: "DMMono-medium";
  font-size: 1.5rem;
}

.content h2 {
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container img {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .container__icons{
    display: none;
  }

  .nav__list{
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
    gap: 40px;
  }

  .nav__link{
    font-size: 1.05rem;
  }

  .content h2 {
    margin-top: 80px;
  }
  .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .container img {
    height: auto;
  }
  .column1 {
    flex: 1;
  }
  .column2 {
    flex: 1;
  }
}

@media (min-width: 1536px) {
  .container {
    margin-top: 90px;
  }
}
