/* @import url(style.css); */

/* Extra pequeños (teléfonos en vertical) */
@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .img-mano {
    display: block;
    height: 50px;
  }

  #title1 {
    font-size: 1.1rem;
    padding: 0px;
  }

  .subtitle {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 5rem;
    margin-bottom: 40px;
  }

  .slider .slide-track {
    width: calc(350px * 10);
  }

  .slider .slide-track-reverse {
    width: calc(350px * 10);
  }

  .slider .slide {
    width: 350px;
  }

  @keyframes slider {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-350px * 5));
    }
  }

  .grid-right .col-img,
  .grid-left .col-img {
    /* grid-row: none; */
    height: 300px;
  }

  footer h2 {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .parent {
    height: 600px;
    background-size: 100% 100%;
  }

  .container__icons {
    display: none;
  }

  .nav__list {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    backdrop-filter: none;
    gap: 40px;
  }

  .nav__link {
    font-size: 1.05rem;
  }

  #title1 {
    font-size: 1.3rem;
  }

  .subtitle-container {
    top: 355px;
  }
  .subtitle {
    font-size: 3.7rem;
    -webkit-text-stroke: 2px white;
  }
  .subtitle-2 {
    -webkit-text-stroke: unset;
  }

  h2 {
    /* font-size: 3.7rem; */
  }

  .grid-left,
  .grid-right {
    gap: 20px;
    padding: 0;
  }

  .grid-left {
    grid-template-columns: 55% 43%;
  }

  .grid-right {
    grid-template-columns: 43% 55%;
  }

  .grid-right .col-text,
  .grid-left .col-text {
    padding: 20px 20px;
  }

  .grid-right .col-img,
  .grid-left .col-img {
    grid-row: none;
    height: 100%;
  }

  .scroll-to-top {
    bottom: 40px;
    right: 20px;
    /* font-size: 20px; */
  }

  footer {
    height: 430px;
  }

  footer h2 {
    font-size: 5rem;
  }
}

@media (min-width: 1280px) {
  .parent {
    /* height: 680px; */
    height: calc(100vh - 40px);
  }

  .subtitle-container {
    top: 390px;
  }
  .subtitle {
    font-size: 4.7rem;
  }

  h2 {
    font-size: 5.5rem;
    margin-top: 90px;
  }

  .slider .slide-track {
    width: calc(450px * 10);
  }

  .slider .slide-track-reverse {
    width: calc(450px * 10);
  }

  .slider .slide {
    width: 450px;
  }

  @keyframes slider {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-450px * 5));
    }
  }

  .grid-right .col-text,
  .grid-left .col-text {
    padding: 0px 40px;
    height: 247px;
  }

  footer {
    height: 470px;
  }

  footer h2 {
    font-size: 5.5rem;
  }
}

/* Extra grandes (pantallas grandes) */
@media (min-width: 1536px) {
  * {
    font-size: 16px;
  }
  .parent {
    /* height: calc(100vh - 40px); */
  }
  .div2 nav ul li a {
    font-size: 1.05rem;
  }
  .subtitle-container {
    /* width: 90%; */
    top: 450px;
  }
  .subtitle {
    font-size: 5rem;
  }
  h2 {
    font-size: 6rem;
    margin-top: 150px;
  }
  .description {
    margin-bottom: 80px;
  }
  .slider .slide-track {
    width: calc(500px * 10);
  }

  .slider .slide-track-reverse {
    width: calc(500px * 10);
  }

  .slider .slide {
    width: 500px;
  }

  @keyframes slider {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-500px * 5));
    }
  }

  .grid-left,
  .grid-right {
    gap: 30px;
  }

  .grid-right .col-text,
  .grid-left .col-text {
    padding: 0px 60px;
    height: 369px;
  }

  h3 {
    font-size: 2rem;
  }

  .skills {
    gap: 40px;
  }

  .skill-container {
    width: 100px;
    height: 100px;
  }

  .skills .skill-container img {
    width: 70%;
  }

  footer {
    padding-top: 100px;
    height: 600px;
    margin-top: 200px;
  }

  footer h2 {
    font-size: 6rem;
  }
}
