@font-face {
  font-family: "ZenDots";
  src: url("fonts/ZenDots-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins.ttf");
  font-weight: normal;
  /*400 to 700 */
  font-style: normal;
}

@font-face {
  font-family: "DMMono";
  src: url("fonts/DMMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono-medium";
  src: url("fonts/DMMono-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #eb5500;
  --secondary-color: #e9e9e9;
  --tertiary-color: #b5bec2;
  --border-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Poppins";
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* Header */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 500px;
  /* background-color: var(--secondary-color); */
  background-image: url(../img/bg-header.webp);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin: 20px;
  border-radius: 20px;
  /* position: relative; */
}
/* .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 20px;
} */

/* Logo */
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.logo {
  height: 45px;
}

/* Fin Logo */

/* Inicio Menú */
.div2 {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.div2 nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo, .container__icons{
  z-index: 10;
}

.icons{
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.close__icon{
  display: none;
}

.icon--hide{
  display: none;
}

.icon--show{
  display: block;
}

.nav__list{
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  background-color: rgba(206, 206, 206, 0.575);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  display: none;
}

.nav__list--show{
  display: flex;
  z-index: 5;
}

.nav__link{
  color: #000;
  font-family: "DMMono-medium";
  font-size: 1.5rem;
}

.nav__link:hover{
  color: var(--main-color);
}

/* nav a.active {
  color: var(--tertiary-color);
  font-weight: bold;
} */

/* Fin Menú */

.div3 {
  grid-area: 1 / 4 / 2 / 5;
  border-bottom: 1px solid var(--border-color);
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
  border-bottom: 1px solid var(--border-color);
}

/* Hello */
.div5 {
  grid-area: 2 / 2 / 3 / 4;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.img-mano {
  display: none;
}

#title1 {
  /* color: #000000; */
  text-align: center;
  padding: 0px 10px;
}

/* Fin Hello */

.div6 {
  grid-area: 2 / 4 / 3 / 5;
  border-bottom: 1px solid var(--border-color);
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
  /* border-bottom: 1px solid var(--border-color); */
}

/* Subtitle */
.div8 {
  grid-area: 3 / 2 / 4 / 3;
  border-left: 1px solid var(--border-color);
  /* border-bottom: 1px solid var(--border-color); */
  border-right: 1px solid var(--border-color);
}

.subtitle-container {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  top: 310px;
  transform: translate(-50%, -100%);
  width: 80%;
  margin-top: 0;
}

.subtitle{
  font-family: "ZenDots";
  font-size: 1.7rem;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
.subtitle-2 {
  /* font-family: "ZenDots"; */
  /* font-size: 1.7rem; */
  color: #ffffff;
  -webkit-text-stroke: unset;
}
/* Fin Subtitle */

.div9 {
  grid-area: 3 / 3 / 4 / 4;
  /* border-bottom: 1px solid var(--border-color); */
  border-right: 1px solid var(--border-color);
}

.div10 {
  grid-area: 3 / 4 / 4 / 5;
  /* border-bottom: 1px solid var(--border-color); */
}

.div11 {
  grid-area: 4 / 1 / 5 / 2;
}

.div12 {
  grid-area: 4 / 2 / 5 / 3;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.div13 {
  grid-area: 4 / 3 / 5 / 4;
  border-right: 1px solid var(--border-color);
  transition: all 0.5s ease;
}

.div14 {
  grid-area: 4 / 4 / 5 / 5;
  /* background-color: var(--main-color);
	background-image: url('../img/logo-solo.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0px 0px 20px; */
}

/* Fin header */

.content {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-family: "ZenDots";
  font-size: 2.8rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.description {
  text-align: center;
  margin-bottom: 50px;
}

/* Inicio Seccion Proyectos */
.wrapper {
  position: relative;
  margin-top: 50px;
}

/* Draggable element */
#draggable {
  position: fixed;
  left: 20px;
  top: 20px;
  color: #fff;
  font-weight: 600;
  /* user-select: none; */
  border-radius: 8px;
}
#draggable.dragging { cursor: grabbing; }

/* .wrapper::after {
  background: radial-gradient(100% 100% at 50% 0, transparent 0, #ffffff 100%);
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
} */

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  overflow: hidden;
  display: inline-flex;
}

.slider .slide-track {
  display: flex;
  animation: slider 30s linear infinite;
  width: calc(250px * 10);
  /* se multiplica por el doble de cant de img */
}

.slider .slide-track-reverse {
  display: flex;
  animation: slider reverse 30s linear infinite;
  width: calc(250px * 10);
}

.slider .slide {
  width: 250px;
  margin-right: 20px;
}

.slider .slide img {
  width: 100%;
  border-radius: 20px;
  filter: grayscale(1);
  transition: all 0.3s ease;
}
.slider .slide img:hover {
  filter: grayscale(0);
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 5));
  }
}

/* Inicio Services */
.grid-left,
.grid-right {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 0px;
}

.grid-right .col-text,
.grid-left .col-text {
  display: flex;
  height: auto;
  padding: 30px 20px;
  background: #ddd;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  grid-row: 2;
}

.grid-right .col-img,
.grid-left .col-img {
  grid-row: 1;
  height: 190px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 15px;
}

.img-development {
  background-image: url("../img/1.png");
}

.img-web-design {
  background-image: url("../img/2.png");
}

.img-wordpress {
  background-image: url("../img/3.png");
}

.img-design {
  background-image: url("../img/4.png");
}

/* Fin Services */

/* Inicio Habilidades */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  width: 90px;
  height: 90px;
  border-radius: 20px;
}

.skills .skill-container img {
  width: 50%;
  object-fit: contain;
}

/* Fin Habilidades */

/* Inicio Contacto */
.bg-footer {
  background-image: url("../img/bg-contact.png");
  background-position: center;
  background-size: cover;
}

footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
  height: 400px;
  margin-top: 100px;
}

footer h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0;
  color: white;
  mix-blend-mode: difference;
}

footer p {
  text-align: center;
  color: #fff;
  mix-blend-mode: difference;
}

.mail {
  color: #fff;
  font-weight: 600;
  mix-blend-mode: difference;
}

.mail:hover {
  mix-blend-mode: normal;
}

/* Fin Contacto */
